@font-face {
    font-family: 'Lexend-Regular';
    src: url('../Assets/Lexend-Regular.ttf');
}

@font-face {
    font-family: 'Lexend-Light';
    src: url('../Assets/Lexend-Light.ttf');
}

@font-face {
    font-family: 'Lexend-Medium';
    src: url('../Assets/Lexend-Medium.ttf');
}

.page-title {
    font-family: 'Lexend-Medium';
    letter-spacing: 10px;
    font-size: 50px;
    line-height: 63px;

    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    border-bottom: 1px solid #707070;
    width: 280px;
}

.wrapper {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;   
    text-align: center;
}

.container-tophalf {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 100px;
}

.container-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    border: 1px solid #707070;

    width: 819px;
    height: 280px;
}

.container-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 1000px;
    margin-left: 10px;
}

.flex-end {
    align-self: flex-end;
}

.card-title {
    font-family: 'Lexend-Regular';
    letter-spacing: 1.6px;
    font-size: 32px;
    line-height: 38px;

    margin-top: 20px;
    margin-left: 30px;
}

.card-subtitle {
    font-family: 'Lexend-Light';
    letter-spacing: 1.5px;
    font-size: 30px;
    line-height: 38px;
    color: #323D4D;

    margin-left: 30px;
}

.card-text {
    font-family: 'Lexend-Regular';
    letter-spacing: 1.5px;
    font-size: 30px;
    line-height: 38px;

    margin-left: 30px;
    width: 500px;
}

.card-button {
    width: 192px;
    height: 74px;
    background-color: #323D4D;
    margin-bottom: 10px;
    margin-right: 10px;
    float: right;
    
    color: #FDFDFD;
    font-family: 'Lexend-Regular';
    letter-spacing: 4.8px;
    font-size: 24px;
    line-height: 30px;
}

.img-royce {
    width: 580px;
    height: 772px;
    margin-right: 10px;
}

.page-header {
    font-family: 'Lexend-Regular';
    letter-spacing: 10px;
    font-size: 50px;
    line-height: 63px;

    border-bottom: 1px solid #707070;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.header-1 {
    width: 650px;
    height: 63px;
}

.header-2 {
    width: 600px;
    height: 63px;
}

.page-subtitle {
    font-family: 'Lexend-Regular';
    letter-spacing: 8px;
    font-size: 40px;
    line-height: 50px;

    text-align: left;
    margin-bottom: 50px;
    margin-left: 100px;
}

.page-text {
    font-family: 'Lexend-Regular';
    letter-spacing: 1.5px;
    font-size: 30px;
    line-height: 38px;

    text-align: center;
    width: 988px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.container-contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: left;

    width: 800px;
    max-height: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.container-contactinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 225px;
}

.contact-title {
    font-family: 'Lexend-Regular';
    letter-spacing: 1.6px;
    font-size: 32px;
    line-height: 38px;

    margin-top: 0px;
    margin-left: 30px;
}

.contact-subtitle {
    font-family: 'Lexend-Light';
    letter-spacing: 1.5px;
    font-size: 30px;
    line-height: 38px;
    color: #323D4D;

    margin-left: 30px;
}

.contact-button {
    width: 192px;
    height: 74px;
    background-color: #323D4D;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 50px;
    
    color: #FDFDFD;
    font-family: 'Lexend-Regular';
    letter-spacing: 4.8px;
    font-size: 24px;
    line-height: 30px;
}

.contact-img {
    height: 225px;
}
