/* This container evenly spaces components into a row */
.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

@font-face {
    font-family: 'Lexend-Regular';
    src: url('../Assets/Lexend-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lexend-Medium';
    src: url('../Assets/Lexend-Medium.ttf');
}

.page-title {
    font-family: 'Lexend-Medium';
    letter-spacing: 10px;
    font-size: 50px;
    line-height: 63px;

    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;

    border-bottom: 1px solid #707070;
    width: 350px;
}

header,
name,
position {
    color: #000000;
    opacity: 1;
    font-family: 'Lexend-Regular';
}

header {
    letter-spacing: 8px;
    font-size: 40px;
    line-height: 50px;
}

.img-ourteam {
    width: 230px;
    height: 344px;
    opacity: 1;
}

name {
    letter-spacing: 0.78px;
    font-size: 39px;
    line-height: 49px;
}

position {
    letter-spacing: 1.25px;
    font-size: 25px;
    line-height: 31px;
}

.wrapper {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;   
}
