header {
    font: normal normal normal 40px/50px Lexend;
    letter-spacing: 8px;
}

.header-1 {
    position: absolute;
    top: 425px;
    left: 652px;
}

.header-2 {
    position: absolute;
    top: 1112px;
    left: 764px;
}

header,
name,
position {
    color: #000000;
    opacity: 1;
}

img {
    width: 230px;
    height: 344px;
    opacity: 1;
}

name {
    font: normal normal normal 39px/49px Lexend;
    letter-spacing: 0.78px;
}

position {
    font: normal normal normal 25px/31px Lexend;
    letter-spacing: 1.25px;
}

/* POSITIONING */

/* President */
.img-president {
    top: 547px;
    left: 375px;
}

.name-president {
    top: 911px;
    left: 386px;
    width: 208px;
    height: 49px;
}

.position-president {
    top: 979px;
    left: 417px;
    width: 148px;
    height: 33px;
}

/* Operations VP */
.img-operations {
    top: 547px;
    left: 871px;
}

.name-operations {
    top: 911px;
    left: 864px;
    width: 244px;
    height: 49px;
}

.position-operations {
    top: 976px;
    left: 897px;
    width: 180px;
    height: 33px;
}

/* Business Dev VP */
.img-bdvp {
    top: 554px;
    left: 1367px;
}

.name-bdvp {
    top: 911px;
    left: 1325px;
    width: 314px;
    height: 49px;
}

.position-bdvp {
    top: 962px;
    left: 1339px;
    width: 303px;
    height: 78px;
}

/* Gen Mem 1 */
.img-gm1 {
    top: 1234px;
    left: 375px; 
}

.name-gm1 {
    top: 1598px;
    left: 432px;
    width: 116px;
    height: 49px;
}

.position-gm1 {
    top: 1668px;
    left: 437px;
    width: 107px;
    height: 33px;
}

/* Gen Mem 2 */
.img-gm2 {
    top: 1234px;
    left: 871px; 
}

.name-gm2 {
    top: 1598px;
    left: 928px;
    width: 116px;
    height: 49px;
}

.position-gm2 {
    top: 1668px;
    left: 934px;
    width: 106px;
    height: 33px;
}

/* Gen Mem 3 */
.img-gm3 {
    top: 1234px;
    left: 1367px; 
}

.name-gm3 {
    top: 1598px;
    left: 1424px;
    width: 116px;
    height: 49px;
}

.position-gm3 {
    top: 1668px;
    left: 1435px;
    width: 106px;
    height: 33px;
}
